.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(19.17/16)*1rem;
	width:(11.3/19.17)*1em;
}
.icon-arrow-right {
	font-size:(19.17/16)*1rem;
	width:(11.34/19.17)*1em;
}
.icon-arrow-right-c {
	font-size:(40.36/16)*1rem;
	width:(45.99/40.36)*1em;
}
.icon-datepicker-arrow-l {
	font-size:(19.01/16)*1rem;
	width:(11.31/19.01)*1em;
}
.icon-datepicker-arrow-r {
	font-size:(19.01/16)*1rem;
	width:(11.34/19.01)*1em;
}
.icon-eye {
	font-size:(19.8/16)*1rem;
	width:(38.18/19.8)*1em;
}
.icon-fb {
	font-size:(16.72/16)*1rem;
	width:(9.33/16.72)*1em;
}
.icon-gp {
	font-size:(17.2/16)*1rem;
	width:(16/17.2)*1em;
}
.icon-ins {
	font-size:(18.07/16)*1rem;
	width:(18.69/18.07)*1em;
}
.icon-logo {
	font-size:(211/16)*1rem;
	width:(563.4/211)*1em;
}
.icon-map-marker {
	font-size:(20.03/16)*1rem;
	width:(15/20.03)*1em;
}
.icon-more {
	font-size:(18.81/16)*1rem;
	width:(33.97/18.81)*1em;
}
.icon-phone {
	font-size:(15.46/16)*1rem;
	width:(15.65/15.46)*1em;
}
.icon-star {
	font-size:(458.6/16)*1rem;
	width:(482.21/458.6)*1em;
}
.icon-vk {
	font-size:(16.2/16)*1rem;
	width:(28.44/16.2)*1em;
}
