// =============================================================================
// LOGO
// =============================================================================

.logo{

	&--header {
		fill: $color-sand;
		font-size: 13rem;
    	width: 1.67014em;
    	max-height: 0.7em;
    	@media(max-width: 460px){
    		font-size: 8rem;
    	}	
	}
	
	&--footer {
		fill: $color-white;
		font-size: 13rem;
    	width: 1.47014em;
    	max-height: 0.6em;
       	@media(max-width: 460px){
    		font-size: 10rem;
    	}	
	}
}	


// end LOGO

// =============================================================================
// SOCIAL LIST
// =============================================================================

.social-list {

	&__item {
		display: inline-block;
		margin-right: 15px;
	}
}

// end SOCIAL LIST

// =============================================================================
// LANGUAGE LIST
// =============================================================================

.lang-list {
	font-family: $MyriadPro-Regular;
	font-size: 16px;

	&__item {
		color: $color-sand;
		border-bottom-right-radius: 9px;
		border-bottom-left-radius: 9px;
		display: inline-block;
		padding: 15px 9px;
		>a {
			&:hover {
				text-decoration: underline;
				color: darken($color-sand, 10);
			}
		}
		&.active {
			color: $color-light-brown;
			background-color: $color-sand;
		}
	}
}

// end LANGUAGE LIST


// =============================================================================
// STREET LOCATION
// =============================================================================

.street-box{
	position: relative;

	&__info{
		font-size: 16px;
		font-family: $AvenirNext-Regular;
	}
	
	&__icon {
		width: 0.90229em;
		position: absolute;
		top: 50%;
		left: 20%;
		transform:translateY(-50%);
		@media(max-width: 992px){
			left: 0;

		}
	}

	&--big {
		margin-top: 30px;
		padding-left: 30px;

		.street-box__info {
			font-size: 22px;
		}
		
		.icon{
			left: 0;
		}
	}
}

// end STREET LOCATION


// =============================================================================
// TELEPHONE LIST
// =============================================================================

.tel-list {
	color: $color-sand;
	font-family: $AvenirNext-Regular;
	font-size: 18px;
	text-align: right;
    position: relative;
    padding-left: 20px;

    &__item {
		display: inline-block;
		margin-top: 5px;
		&:hover {
			text-decoration: underline;
			color: darken($color-sand, 10);
		}
	}

	&__icon {
		width: 0.90229em;
		position: absolute;
		top: 50%;
		left: 20%;
		transform:translateY(-50%);
		@media(max-width: 992px){
			left: 0;

		}
	}

	&--dark {
		color: $color-brown;

		.tel-list__item {

			&:hover {
				color: inherit;
			}
		}
	}

	&--one-col {
		margin-top: 40px;
		margin-bottom: 40px;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 20px;

		.tel-list__item {
			margin-bottom: 5px;
		}

		.icon {
			left: 0;
		}
	}
}

// end TELEPHONE LIST

// =============================================================================
// nav
// =============================================================================

.menu {
	font-family: $MyriadPro-Regular;
	text-transform: uppercase;
	display: flex;
    justify-content: space-around;
    
    &__item{
    	position: relative;
    	padding-bottom: 40px;
    	
    	.header__menu &:hover{

    		.menu__item-link {
	    		color: $color-light-brown;
				background-color: $color-sand;
				box-shadow: 0 3px 1px rgba(0, 0, 0, 0.12), inset 0 0 16px rgba(0, 0, 0, 0.19);	
    		}
    		
    		.menu__sub-menu {
				top: 35px;
				opacity: 1;
				visibility: visible;
				z-index: 100;
				padding: 13px 0 25px 0;	
			}	
    	}

		.mobile-content & {
			position: static;

			@media(max-width: 500px) {
				padding-bottom: 20px;	
			}
		}
    	
    }

	&__item-link {
		color: $color-sand;	
		font-size: 18px;
		padding: 10px 8px;
		border-radius: 20px;
		background: transparent;
		border: none;
		font-family: $MyriadPro-Regular;
		text-transform: uppercase;
		outline: none;
		cursor: pointer;

		.mobile-content__menu & {
			transition: all 0.2s ease-in-out;
			transform: translateX(0);

			&.closed {
				opacity: 0;
				visibility: hidden;
				transform: translateX(100%);
			}
		}

		&--with-sub {
			position: relative;

			&:after {
				content: '';
				position: relative;
				top: -1px;
				display: inline-block;
				margin: 0 0 0 6px;
				width: 10px;
				height: 10px;
				border: 2px solid $color-sand;
				border-width: 2px 2px 0 0;
				transform: rotate(45deg);
			}
		}
	}

	&__sub-menu {
		width: 206px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		font-size: 16px;
		border-radius: 11px;
		background-color: $color-light-brown;
		color: $color-sand;
		opacity: 0;
		visibility: hidden;
		max-height: 70vh;
		overflow: auto;
		transition: all 0.2s ease-in-out;

		.mobile-content__menu & {
			opacity: 1;
			top: 0;
			left: 0;
			width: 100%;
			text-align: left;
			transform: translateX(-100%);
			background: none;
			border-radius: 0;

			&.opened {
				display: block;
				visibility: visible;
				transform: translateX(0);
				z-index: 20;
			}
		}
	}

	&__sub-menu-item {
		display: flex;

		.mobile-content & {
			font-size: 18px;
			padding-bottom: 10px;
			
			@media(max-width: 500px) {
				padding-bottom: 0;	
			}
		}

		&--go-back {
			position: relative;
			padding: 13px 15px 10px 55px;
			cursor: pointer;
			background: rgba($color-sand, .3);

			&:before {
				content: '';
				position: absolute;
				left: 30px;
				top: 50%;
				width: 10px;
				height: 10px;
				border: 2px solid $color-sand;
				border-width: 2px 2px 0 0;
				transform: translateY(-50%) rotate(-135deg);
			}
		}
	}

	&__sub-menu-link{
		padding: 10px 15px;
		flex: 1;

		&:hover {
			color: $color-light-brown;	
			background-color: $color-sand; 
		}
	}
}

// end nav


