// =============================================================================
// BUTTONS
// =============================================================================

.btn {
	display: inline-flex;
	padding: .75em 2em .8em;
	text-align: center;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-family: $AvenirNext-DemiBold;
	font-size: 21px;
	line-height: 1;
	color: $color-sand;
	border: 1px solid $color-light-brown;
	background: $color-light-brown;
	cursor: pointer;
	transition: all .2s;
	text-decoration: none;

	@media (min-width: $screen-xs) {
		min-width: 315px;
	}

	&:hover,
	&:active,
	&:focus {
		color: $color-light-brown;
		background: $color-sand;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 6px 0 rgba($color-light-brown, .6) inset;
	}

	// &--footer {
	// 	color: $color-white;
	// 	border-color: $color-white;
	// 	background: $color-brown;
	// 	font-family: $MyriadPro-Regular;
	// 	font-size: 18px;
	// 	max-width: 190px;
	// 	min-width: 50px;
	// 	padding: 15px 25px;

	// 	&:hover,
	// 	&:active,
	// 	&:focus {
	// 		background: darken($color-white, 7);
	// 	}

	// 	&:active,
	// 	&:focus {
	// 	}
	// }

	// ------
	// colors
	// ------

	&--light {
		color: $color-light-brown;
		background: $color-sand;
		border-color: $color-sand;

		&:hover,
		&:active,
		&:focus {
			background: darken($color-sand, 10);
		}

		&:active,
		&:focus {
			box-shadow: 0 0 6px 0 rgba($color-black, .6) inset;
		}
	}


	&--transp {
		color: $color-dark-brown;
		background: none;

		&:hover,
		&:active,
		&:focus {
			color: $color-sand;
			background: $color-dark-brown;
		}

		&:active,
		&:focus {
			box-shadow: 0 0 12px 0 $color-black inset;
		}
	}

	&--l-transp {
		color: $color-sand;
		border-color: $color-sand;
		background: none;

		&:hover,
		&:active,
		&:focus {
			color: $color-dark-brown;
			background: $color-sand;
		}

		&:active,
		&:focus {
			box-shadow: 0 0 12px 0 $color-black inset;
		}
	}

	&--air {
		color: white;
		background: none;
		border: 1px solid white;
		flex-direction: column;
		
		&:hover,
		&:active,
		&:focus {
			color: white;
			background: rgba(255, 255, 255, 0.2);
		}

		&:active,
		&:focus {
			box-shadow: none;
		}

		span{
			display: block;
			font-family: $AvenirNext-Regular;
		}
	}

	&--two-lines {
		padding: 6px;
	}


	// ------
	// sizes
	// ------

	&--medium {
		padding: .85em 2em .75em;
		min-width: 190px;
		font-family: $AvenirNext-Regular;
		font-size: 18px;
	}

	&--small {
		padding: .65em 1.5em .65em;
		min-width: 80px;
		font-family: $AvenirNext-Regular;
		font-size: 14px;

		&:active,
		&:focus {
			box-shadow: 0 0 6px 0 rgba($color-black, .6) inset;
		}
	}
}

.btn-close {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 2px solid #fff;
	background: none;
	cursor: pointer;
	transition: background ease-in-out .2s;

	&:hover {
		background: #fff;

		&:before,
		&:after {
			background: $color-dark-brown;
		}
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 14.5%;
		left: 50%;
		width: 2px;
		height: 70%;
		margin-left: -1px;
		background: #fff;
		transition: background ease-in-out .2s;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}
}

// end BUTTONS