// =============================================================================
// CONTENT
// =============================================================================

.content-section {
	padding: 66px 0;
	background: $color-sand;
	position: relative;
	z-index: 1;

	@media (min-width: $screen-sm) {
		padding-top: 146px;
		padding-bottom: 146px;
	}

	&--bg-1 {
		background: $color-sand url($path-img + 'sand-bg-1.jpg') center no-repeat;
		background-size: cover;
	}

	&--bg-2 {
		background: $color-sand url($path-img + 'sand-bg-2.jpg') center no-repeat;
		background-size: cover;
	}

	&--dark {
		padding-top: 66px;
		padding-bottom: 66px;
		color: $color-sand;
		background: $color-light-brown;

		@media (min-width: $screen-sm) {
			padding-top: 136px;
			padding-bottom: 136px;
		}

		.section-title {
			color: inherit;
		}
	}
}

.content-2-cols {

	@media (min-width: $screen-md) {
		flex-direction: row;
		display: flex;
	}

	&__col-content {
		flex: 0 0 75%;

		@media (min-width: $screen-md) {
			padding-right: 20px;
		}
	}

	&__col-sidebar {
		flex: 0 0 25%;

		@media (min-width: $screen-md) {
		}
	}

}

.section-header {
	margin: 0 0 23px;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;

	&__btn {
		margin-left: auto;
		position: relative;
		top: -1px;
	}

	&__title {

	}

	&__subtitle {
		margin: 4px 0 0;
		width: 100%;
		color: $color-light-brown;
		font-family: $MyriadPro-Regular;
		font-size: 21px;
		line-height: 1;
	}
}

.section-title {
	margin: 0;
	text-transform: uppercase;
	color: $color-light-brown;
	font-family: $MyriadPro-Regular;
	font-size: 30px;
	line-height: 1;

	&--center {
		margin: 0 auto;
	}

	@media (min-width: $screen-xs) {
		font-size: 46px;
	}

	@media (min-width: $screen-sm) {
		font-size: 62px;
	}
}

.section-btns {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (min-width: $screen-sm) {
		flex-direction: row;
	}

	&__btn {
		margin-bottom: 10px;

		@media (max-width: $screen-xs) {
			min-width: auto;
			width: 100%;
		}

		@media (min-width: $screen-sm) {
			margin-bottom: 0;
		}
	}
}

.article {
	margin: 0 0 60px;
	word-break: break-word;
	
	&__content {
		p {
			margin: 0 0 1em;
		}

		h1, 
		h2, 
		h3, 
		h4, 
		h5, 
		h6 {
			margin-top: 0;
			margin-bottom: .5rem;
			font-family: $MyriadPro-Bold;
			line-height: 1;
			color: $color-light-brown;
		}

		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.75rem;
			margin-top: 3rem;
		}

		h4 {
			margin-top: 2rem;
			font-size: 1.5rem;
		}

		h5 {
			font-size: 1.25rem;
		}

		h6 {
			font-size: 1rem;
		}

		ul {
			list-style: disc;
			margin: 1em 2rem;

			ul {
				list-style: circle;
			}
		}

		ol {
			list-style: upper-roman;
			margin: 1em 2rem;
		}

		li {
			margin: 0 0 1em;
		}

		a {
			text-decoration: underline;
			color: #b00a0a;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__modal-box {
		margin-top: 20px;
	}

	&__gallery {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		a {
			flex: 1 0 18%;
			margin: 10px;
			font-size: 0;
			border: 5px solid white;
			
			img {
				max-height: 170px;
				object-fit: cover;
    			width: 100%;
    			height: 100%;
			}
		}
	}

	&__about-img-cont {
		text-align: center;
		margin-bottom: 20px;
	}

	.section-btns {
		margin-top: 60px;
	}
}

.article-date {
	margin: 0 0 30px;
	color: #333;
	font-weight: bold;
	font-size: .8;
}

.contacts-section {

	&__col-left {

	}
}

#map {
	min-height: 500px;
	position: relative;
	width: auto;
	left: 0;
	top: 0;
	bottom: 0;

	@media(min-width: $screen-md) {
		position: absolute;
		width: 50%;
		right: 0;
		left: auto;
	}
}

.popup {
	display: none;
	width: 500px;
	max-width: 100%;
	background: $color-sand url($path-img + 'sand-bg-2.jpg') center no-repeat;

	&__title {
		text-align: center;
		margin: 0 0 20px;
		font-size: 30px;
		font-family: $AvenirNext-DemiBold;
		color: $color-light-brown;
	}

	p {
		margin: 0 0 1em;
	}

	.form__label {
		text-align: left;
	}

	.form__submit {
		margin-top: 30px;
	}
}

.fancybox-close-small {

	&:after {
		background: $color-light-brown;
		color: #fff;
	}

	&:hover:after {
		color: #fff;
		background: $color-light-brown;
	}
}

.order-btns {
	height: 300px;
	position: relative;
	background: url($path-img + 'promo-order-bg.jpg');
	background-size: cover;

	@media (min-width: $screen-md) {
		height: 662px;
	}

	&__note-btn-box {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 18%;
		z-index: 5;
		left: 0;
	    right: 0;

	    .btn {
	    	margin-right: 19px; 
	    }

	    @media(max-width: 1050px) {
	    	flex-direction: column;
	    	left: 50%;
	    	width: 315px;
	    	transform: translateX(-50%);
	    	bottom: 12%;

	    	.btn {
	    		margin-bottom: 10px;
	    	}	
	    }
	}
}

@media (min-width: $screen-sm) {

	.justifyleft {
		margin: .5rem 1rem .5rem 0;
		float: left;
	}

	.justifyright {
		margin: .5rem 0 .5rem 1rem;
		float: right;
	}

	.justifycenter {
		margin-right: auto;
		margin-left: auto;
	}

	.justifyjustify {
		width: 100%;
	}
}

// end CONTENT