// =============================================================================
// FOOTER
// =============================================================================

.footer {
	padding: 80px 0 0px;
	background-color: $color-brown;

	&__logo-social-box {
		
		@media(max-width: 1200px) {
			text-align: center;
			margin-bottom: 40px;
		}
	}

	&__menu-box {

		@media(max-width: 1200px) {
			display: flex;
			justify-content: center;
		}
	}

	&__contact-box {

		@media(max-width: 1200px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 40px;
		}	
	}


	&__social-list {
		text-align: center;

		.icon {
			fill: $color-white;
			
			&:hover {
				fill: darken($color-white, 10);
			}
		}
	}
	
	&__menu-first, &__menu-second {
		display: inline-flex;
		flex-direction: column;
		color: $color-white;
		width: 49%;
		
		@media(max-width: 1200px) {
			text-align: center;
			width: auto;
		}

		.menu__item {
			padding-bottom: 18px;
			
			&:hover {
				.menu__item-link {
					color: darken($color-white, 10);
					background: transparent;
					box-shadow: none;	
				}
			}
		}
	}

	&__tel-list {
		text-align: left;
		padding-left: 30px;
		
		@media(max-width: 1200px) {
			display: flex;
    		flex-direction: column;
    	}

		.icon{
			left: 0;
		}
	}

	&__street-box {
		margin-top: 50px;
		padding-left: 30px;
		color: $color-white;
		
		.icon{
			left: 0;
		}
	}

	&__btn-cont {
		margin: 30px 0 50px 0;
		text-align: center;
	}

	&__copyright-box {
		color: $color-sand;
		font-family: $MyriadPro-Regular;
		font-size: 13px;
		padding: 18px 14px;
		background-color: $color-light-brown;
	}

	&__copyright-content-box {
		display: flex;
		justify-content: center;
		position: relative;
		
		@media(max-width: 500px) {
			flex-direction: column;
			align-items: center;
		}
		span:last-child{
			position: absolute;
			right: 0;
			@media(max-width: 500px) {
				position: static;
				margin-top: 10px;
			}
		}
	}
}

// end FOOTER