// =============================================================================
// FORM
// =============================================================================

.form {
	margin: 37px 0 25px;

	&__line {
		margin: 0 0 28px;
	}

	&__col {

		@media (max-width: $screen-sm) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__label {
		color: $color-light-brown;
		font-size: 21px;
		font-family: $MyriadPro-Bold;
		line-height: 1;
		display: block;

		@media (max-width: $screen-xs) {
			padding-left: 0;
			padding-right: 0;
		}

		@media (min-width: $screen-sm) {
			text-align: right;
		}
	}

	&__input,
	&__textarea,
	&__select {
		width: 100%;
		padding: 11px 15px 12px;
		font-size: 21px;
		font-family: $MyriadPro-Regular;
		border: 1px solid $color-light-brown;
		background: $color-white;

		&.error {
			border-color: #b00a0a;
		}
	}

	&__textarea {
		height: 123px;
		resize: vertical;
	}

	&__submit {
		display: table;
		margin: 106px auto 0;
	}

	.errors {
		margin: 0 0 40px;
		color: #ca1616;
	}
}

label.error {
	color: #b00a0a;
	font-size: 16px;
}

.datepicker-inline {

	@media (min-width: $screen-lg) {
		width: 480px;
	}

	.datepicker {
		width: 262px;
		margin: 3px 0 0;
	}

	.datepicker--nav {

		@media (min-width: $screen-lg) {
			width: 215px;
			padding-top: 0;
			border-bottom: 0;
			margin: 0 0 -40px 104%;
		}
	}

	.datepicker--nav-action {
		padding: 6px 5px;

		&.-disabled- {
		/*	visibility: visible;
			cursor: default;
			opacity: .5;*/
		}

		svg {
			width: 11px;
			height: 19px;
			fill: $color-light-brown;
		}

	}

	.datepicker--nav-title {
		color: $color-light-brown;
		font-size: 21px;
		font-family: $MyriadPro-Bold;

		i {
			color: inherit;
		}
	}

	.datepicker--content {
	}
}

.date-hidden {
}

// end FORM