// =============================================================================
// Header
// =============================================================================

.header {
	max-height: 240px;
	min-height: 100px;
	background-color: $color-brown;
	border-bottom: 4px solid $color-sand;
	padding-left: 20px;

	&__contact-box{
		padding: 0 15px;
		@media(max-width: 1200px){
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__social {
		display: flex;
		justify-content: flex-start;
		padding-top: 12px;
		.icon {
			fill: $color-sand;
			&:hover {
				fill: darken($color-sand, 10);
			}		
		}
		@media(max-width: 1200px){
			display: none;
		}
	}

	&__logo-cont {
		display: flex;
		justify-content: center;
		
		@media(max-width: 1200px){
			padding-top: 0;
		}
	}

	&__lang-tel-box {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-right: 20px;
		@media(max-width: 768px){
			display: none;
		}
	}

	&__lang-list {
		margin-bottom: 35px;
		@media(max-width: 1200px){
			display: none;
		}
	}

	&__menu-container{
		transition: all .5s ease-out;
		padding: 0;
		&.fixed{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 100;
			background-color: $color-brown;
			.header__menu{
				margin-top: 15px;
			}
		}
	}

	&__menu {
		margin: 20px 0 -25px 0;
		@media(max-width: 1200px){
			display: none;
		}
	}

}

// MOBILE BUTTON
.mobile-nav{
  display: none;
  position: absolute;
  z-index: 1100;
  height: 1.375rem;
  width: 1.5625rem;
  top: 20px;
  left: 20px;
  cursor: pointer;

  &.fixed {
  	position: fixed;
  }

  .active-btn{
      background: rgba(255, 255, 255, 0);
      width: 150%;
      &:before{
        transform: rotate(-225deg);
        top: 0;
        width: 75%;
      }
      &:after{
        transform: rotate(225deg);
        top: 0;
        width: 75%;
      }
  }
  @media(max-width: 1200px){
    display: block;
  }
  &__item{
    height: 0.1875rem;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translate(-50%);
    background-color: $color-sand;
    left: 0.625rem;
    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      height: 0.1875rem;
      background-color: $color-sand; 
      width: 100%;
      transition: all ease-out 0.5s;
    }
    &:before{
      top: -0.5rem;
    }
    &:after{
      bottom: -0.5rem;
    }
  }
}


//MOBILE CONTENT
.open-container{
	margin-left: 0 !important;
}

.mobile-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: $color-brown;
	width: 18rem;
	min-height: 100%;
	margin-left: -18rem;
	padding: 0px 15px 15px 15px;
	top: 0;
	left: 0;
	z-index: 150;
	transition: all .45s ease-out;
	box-shadow: 0 3px 6px 0 #000;

	&__lang-list {
		text-align: center;
		margin-bottom: 20px;
		flex: 0;
	}

	&__social-list {
		text-align: center;
		flex: 0;

		.icon {
			fill: $color-sand;
			&:hover {
				fill: darken($color-sand, 10);
			}		
		}
	}

	&__menu {
		position: relative;
		margin-top: 20px;
		flex-direction: column;
		/*min-height: 380px;*/
		flex: 1;
	    overflow: auto;
	    justify-content: initial;

	}
	&__tel-list {
		flex: 0;
		display: none;
		text-align: left;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-top: 15px;

		@media(max-width: 768px){
			display: inline-block;
			margin-left: 10px;
		}
	}
}
// end Header


//CALL-BACK PHONE

.call-to-us {
	position: fixed;
    bottom: 20px;
	right: 1%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
    z-index: 50;

	@media (max-width: $screen-xs-max) {
		transform: scale(.65);
		bottom: 0;
		right: 0;
	}

    .tel {
    	background-color: $color-dark-brown;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;

        .icon-phone {
        	font-size: 2.4rem;
        	width: 1.01229em;
        	height: 1.1em;
        	fill: $color-sand;
        	margin: auto;
        }
    }

	&:after {
		content: '';
		position: absolute;
		top: -9px;
		bottom: -9px;
		left: -9px;
		right: -9px;
		border-radius: 50%;
		border: 2px solid $color-dark-brown;
		transition: all 1s;
		opacity: 1;
		transform: scale(1);
	}

	&:hover {
		@media (min-width: $screen-sm) {
			transform: rotate(-10deg);
		}

		&:after {
			animation: hover-to-call 1.8s infinite;

		}
	}
}

@keyframes hover-to-call {
	to {
		transform: scale(1.5);
		opacity: 0;
	}
}

//end CALL-BACK PHONE

