// =============================================================================
// COURCES LIST
// =============================================================================

.products-list {
	margin: 0 -5px 28px;
	font-family: $MyriadPro-Regular;

	&--services {
		.products-list__inner {
			padding-top: (313/284)*100 +%; // default item's width 284px, height 313px

			&--more {			

				@media (max-width: $screen-xs) {
					padding-top: 60%;

					.products-list__more-box {
						padding-top: 0;
					}
				}

			}
		}
	}
	
	&__item {
		padding: 0 5px;
		margin: 0 0 10px;

		@media (max-width: $screen-xs-max) {
			.index-page .products-list--cources &:nth-child(n+5) {
				display: none;
			}

			.index-page .products-list--services &:nth-child(n+4):not(:nth-last-child(1)) {
				display: none;
			}
		}
	}

	&__inner {
		position: relative;
		display: block;
		height: 0;
		padding-top: (206/284)*100 +%; // default item's width 284px, height 206px

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			transition: all ease-in-out .4s;
			background: rgba($color-dark-brown, .55);
			z-index: 10;
		}

		&:hover {
			&:before {
				opacity: 1;
			}

			.products-list__controls {
				opacity: 1;
				visibility: visible;
			}

			.products-list__btn-open {

				transform: translateX(0);

			}
		}

		&--more {
			&:before {
				display: none;
			}
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__title {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 6px 25px 5px;
		max-width: 90%;
		text-transform: uppercase;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		text-align: right;
		transition: all ease-in-out .4s;
		background: rgba($color-grey, .51);
		z-index: 10;
	}

	&__more-box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px 0 0;
		text-decoration: none;
		text-transform: uppercase;
		color: $color-sand;
		font-size: 21px;
		font-family: $AvenirNext-DemiBold;
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #8b786c url($path-img + 'more-box-bg.jpg') no-repeat center;
		background-size: cover;

		&:hover {
			svg {
				transform: translateY(-10px);
			}

			.products-list__more-title {
				transform: translateY(10px);
			}
		}

		svg {
			transition: all ease-out .2s;
			fill: $color-sand;
			margin: 0 0 8px;
		}
	}

	&__more-title {
		transition: all ease-in-out .2s;

	}
}

// end COURCES LIST