// =============================================================================
// REVIEWS
// =============================================================================

.reviews-list {
	list-style: none;
	padding: 0 30px;
	margin: 0 -10px 25px;
	font-family: $MyriadPro-Regular;

	@media (min-width: $screen-xs) {
		padding-left: 50px;
		padding-right: 50px;
		margin-left: 0;
		margin-right: 0;
	}

	@media (min-width: $screen-md) {
		margin-left: -10px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	&__item {
		padding: 20px 10px 20px 25px;
		margin: 0 -10px 20px;
		background: $color-sand;
		transition: all .2s;

		@media (min-width: $screen-xs) {
			margin-left: 0;
			margin-right: 0;
		}

		@media (min-width: $screen-md) {
			width: calc(33% - 10px);
			margin-left: 10px;
		}

		&:hover {
			box-shadow: 0 0 7px 0 rgba(#000, .2);
		}
	}

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		margin: 0 0 20px;
	}

	&__author {
		margin: 0 0 6px;
		width: 100%;
		font-size: 21px;
		line-height: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-family: $MyriadPro-Bold;
	}

	&__date {
		font-size: 11px;
		line-height: 1;
	}

	&__rating {
		margin-left: auto;
		margin-right: 10px;
		flex: 0 0 85px;
	}

	&__content {
		font-size: 17px;
		line-height: 1.2;
		font-family: $MyriadPro-Regular;
		color: $color-light-brown;
	}

	.slick-dots {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 3px;
		}

		button {
			outline: 0;
			width: 14px;
			height: 14px;
			background-color: #fff;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			text-indent: -9999px;
		}

		.slick-active button {
			background: $color-brown;
		}
	}

	.slick-arrow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 25px;
		width: 30px;
		border: 0;
		background: none;
		text-indent: -9999px;
		cursor: pointer;

		@media (min-width: $screen-xs) {
			width: 50px;
		}

		&:hover {
			background: rgba($color-brown, .1);
		}

		&:focus {
			outline: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			border: 2px solid $color-brown;
			border-width: 2px 2px 0 0;
			width: 20px;
			height: 20px;
			transform: rotate(-135deg);
		}
	}

	.slick-next {
		left: auto;
		right: 0;

		&:before {
			transform: rotate(45deg);
		}
	}
}

.rating {
	width: 84px;
	height: 17px;
	display: flex;

	&__star {
		width: 19%;
		height: 100%;
		height: auto;
		margin: 0 0 0 1%;
		opacity: .5;
		fill: $color-brown;

		&--filled {
			opacity: 1;
		}
	}
}

.jot-row {
	margin: 0 0 50px;
	background: lighten($color-sand, 8) !important;
	border-radius: 5px;
	border: 1px solid #ccc;

	hr {
		margin: 4px 0 10px;
	}
}

.jot-comment {
    padding: 20px 15px 25px !important;
}

.jot-user {
	float: none !important;	
	width: 100% !important;
	margin-bottom: 10px;

	@media (min-width: 700px) {
		width: 140px !important;
		overflow: hidden;
		float: left !important;	
	}
}

.jot-poster {
	display: block;

	@media (min-width: 700px) {
		margin-top: 5px;
	}
}

.jot-content {
	margin-left: 0 !important;

	@media (min-width: 700px) {
		margin-left: 140px !important;
	}
}

.jot-subject {
	display: block;

	@media (min-width: 700px) {
		margin-bottom: 10px;
	}
}

.jot-nav {
	margin: 50px 0 0 !important;

	a {
		display: inline-block;
		background: lighten($color-sand, 5);
		border-radius: 50%;
		width: 28px;
		height: 28px;
		text-align: center;
		line-height: 28px;
		margin: 0 3px;
		box-shadow: 0 0 0 1px rgba($color-brown, .5);
		color: $color-brown;
		font-size: 16px;

		&.current {
			background: $color-brown;
			color: #fff;
		}
	}
}

.jot-title {
	margin: 50px 0 0 !important;
}

.jot-list ul {
	margin: 6px 0 0 30px;

	li {
		margin: 0 0 4px;
	}
}

.jot-form {
	margin-top: 15px;
	margin-bottom: 80px !important;

	label {
		font-weight: bold;
		margin: 0 0 10px;
	}

	input:not([type="submit"]) {
		@extend .form__input;
		width: 100%;
		max-width: 500px;
		margin-top: 5px;
		background: #fff;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	textarea {
		@extend .form__textarea;
		width: 100%;
		max-width: 500px;
		margin-top: 5px;
		background: #fff;
	}

	.btn {
		max-width: 100%;
		white-space: normal;
		font-size: 16px;

		@media (min-width: 700px) {
			font-size: 21px;
		}
	}
}


// end REVIEWS