// =============================================================================
// SIDE MENU
// =============================================================================

.side-menu {

	&__item {

		&--opened {

			.side-sub-menu {
				display: block;
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		min-height: 47px;
		padding: 14px 40px 9px 32px;
		margin-bottom: 5px;
		border-radius: 24px/50%;
		transition: all .3s ease;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		font-family: $MyriadPro-Bold;
		font-size: 18px;
		line-height: 17px;
		background: $color-light-brown;
		border: 1px solid $color-light-brown;
		box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.12);

		&--has-child {

			&:before {
				content: '';
				position: absolute;
				right: 22px;
				top: 50%;
				height: 10px;
				width: 10px;
				margin: -3px 0 0;
				transform: translateY(-50%) rotate(135deg);
				border: 2px solid #fff;
				border-width: 2px 2px 0 0;
				transition: all .3s ease;
			}
		}

		&:hover,
		&--active {
			color: $color-light-brown;
			background: lighten($color-brown, 75);

			&:before {
				border-color: $color-light-brown;
			}
		}
	}

}

.side-sub-menu {
	margin: 12px 35px 35px 0;
	display: none;

	&__item {

	}

	a {
		text-align: center;
		position: relative;
		display: block;
		min-height: 35px;
		padding: 10px 15px 9px;
		margin-bottom: 4px;
		border-radius: 18px/50%;
		transition: all .3s ease;
		color: $color-light-brown;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		font-family: $MyriadPro-Bold;
		font-size: 16px;
		line-height: 17px;
		background: lighten($color-brown, 75);
		border: 1px solid $color-light-brown;
		box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.12);

		&:hover,
		&.active {
			color: $color-light-brown;
			background: $color-sand;
		}
	}

}

// SIDE MENU