// =============================================================================
// TABLE
// =============================================================================

.table {
	width: 100% !important;
	height: auto !important;
	border-collapse:separate; 
	border-spacing: 0 3px;
	margin: 0 0 50px;
	font-size: 15px;
	word-break: break-word;

	@media (max-width: $screen-sm-max) {
		display: flex;
		flex-direction: column;
	}

	@media (min-width: $screen-sm) {
		font-size: 18px;
	}

	&__thead {
		font-size: 1;

		@media (min-width: $screen-sm) {
			font-size: 1.2em;
		}

		.table__th {
			color: #fff;
			background: $color-brown;			
		}

	}

	&__tbody {
	}

	&__th {
		text-align: left;
		padding: .5em 10px;
		background: lighten($color-night-brown, 84);
		width: auto !important;
		height: auto !important;

		@media (max-width: $screen-sm-max) {
			flex: 1;
		}
	}

	&__tr {
		margin: 0 0 3px;
		background: lighten($color-night-brown, 88);
		width: auto !important;
		height: auto !important;

		@media (max-width: $screen-sm-max) {
			display: flex;
		}

	}

	&__td {
		padding: .5em 10px;
		width: auto !important;
		height: auto !important;

		@media (max-width: $screen-sm-max) {
			flex: 1;
		}

	}

	&__col-date {
		width: 200px !important;
	}

	&__col-seminar {
		width: 500px !important;
	}

	&__col-price {
		width: 200px !important;
		word-break: normal;
	}
}

// end TABLE