

body:before {
  content: "phone";
  display: none;
}

@media (min-width: $screen-xs) {
  body:before {
    content: "screen-xs";
  }
}

@media (min-width: $screen-sm) {
  body:before {
    content: "screen-sm";
  }
}

@media (min-width: $screen-md) {
  body:before {
    content: "screen-md";
  }
}

@media (min-width: $screen-lg) {
  body:before {
    content: "screen-lg";
  }
}