
// =============================================================================
// VISUALLY-HIDDEN
// =============================================================================

@mixin visually-hidden {
    height: 1px;
    width: 1px;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
}

// end VISUALLY-HIDDEN





// =============================================================================
// FONT FACE
// =============================================================================

@mixin font-face($font-name, $font-style, $font-weight, $filename, $path) {
	@font-face {
		font-family: '#{$font-name}';
        font-style: $font-style;
        font-weight: $font-weight;
        src: local('#{$font-name}'),
            url('#{unquote($path)}#{$filename}.woff2') format('woff2'),
            url('#{unquote($path)}#{$filename}.woff') format('woff');
        unicode-range: U+0400-04FF, U+0000-007F;
	}
}
// end FONT FACE





