
// =============================================================================
// FONT
// =============================================================================

$AvenirNext-Bold:			'AvenirNextCyrBold';
$AvenirNext-DemiBold: 		'AvenirNextCyrDemi';
$AvenirNext-Medium:			'AvenirNextCyrMedium';
$AvenirNext-Regular:		'AvenirNextCyrRegular';
$Marion-Regular:            'Marion-Regular';
$MyriadPro-Bold:            'MyriadPro-Bold';
$MyriadPro-Regular:         'MyriadPro-Regular';


$font-times:		        'Times New Roman', sans-serif;


$font-size: 18px;

// end FONT

// =============================================================================
// COLORS
// =============================================================================

$color-brown: 			#312116;
$color-dark-brown: 		#492427;
$color-light-brown: 	#4d3526;
$color-night-brown:		#1c0f07;
$color-sand: 			#f6e8cd;
$color-grey:			#4d4d4d;
$color-white: 			#f6e8cd;
$color-black: 			#000000;
//$color-text: 			#fcfaf8;



// =============================================================================
// PATHS
// =============================================================================

$path-img: 				'../img/';
// end PATHS



// =============================================================================
// BREAKPOINTS / GRID
// =============================================================================

// mq
$mq-breakpoints: () !default;

// Breakpoints
$screen-xs:                  480px !default; // xs
$screen-sm:                  768px !default; // sm
$screen-md:                  992px !default; // md
$screen-lg:                  1200px !default; // lg
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;


// Container sizes
$container-sm:            	(750px) !default;
$container-md:           	(970px) !default;
$container-lg:        		(1170px) !default;

// end BREAKPOINTS
