@import "utils/_global-utils";


// =============================================================================
// FONTS
// =============================================================================

$fonts-path: "../fonts";

/*
// AvenirNext-Bold
$AvenirNext-Bold-font-path: $fonts-path + "/AvenirNext-Bold/";
@include font-face($AvenirNext-Bold, normal, 400, 'font', $AvenirNext-Bold-font-path);

// AvenirNext-DemiBold
$AvenirNext-DemiBold-font-path: $fonts-path + "/AvenirNext-DemiBold/";
@include font-face($AvenirNext-DemiBold, normal, 400, 'font', $AvenirNext-DemiBold-font-path);

// AvenirNext-Medium
$AvenirNext-Medium-font-path: $fonts-path + "/AvenirNext-Medium/";
@include font-face($AvenirNext-Medium, normal, 400, 'font', $AvenirNext-Medium-font-path);

// AvenirNext-Regular
$AvenirNext-Regular-font-path: $fonts-path + "/AvenirNext-Regular/";
@include font-face($AvenirNext-Regular, normal, 400, 'font', $AvenirNext-Regular-font-path);
*/
// Marion-Regular
$Marion-Regular-font-path: $fonts-path + "/Marion-Regular/";
@include font-face($Marion-Regular, normal, 400, 'font', $Marion-Regular-font-path);

// MyriadPro-Bold
$MyriadPro-Bold-font-path: $fonts-path + "/MyriadPro-Bold/";
@include font-face($MyriadPro-Bold, normal, 400, 'font', $MyriadPro-Bold-font-path);

// MyriadPro-Regular
$MyriadPro-Regular-font-path: $fonts-path + "/MyriadPro-Regular/";
@include font-face($MyriadPro-Regular, normal, 400, 'font', $MyriadPro-Regular-font-path);


$AvenirNext-Bold-font-path: $fonts-path + '/AvenirNextCyrBold/';
@font-face {
    font-family: 'AvenirNextCyrBold';
    src: url($AvenirNext-Bold-font-path + 'AvenirNextCyrBold.eot');
    src: url($AvenirNext-Bold-font-path + 'AvenirNextCyrBold.eot') format('embedded-opentype'),
         url($AvenirNext-Bold-font-path + 'AvenirNextCyrBold.woff2') format('woff2'),
         url($AvenirNext-Bold-font-path + 'AvenirNextCyrBold.woff') format('woff'),
         url($AvenirNext-Bold-font-path + 'AvenirNextCyrBold.ttf') format('truetype'),
         url($AvenirNext-Bold-font-path + 'AvenirNextCyrBold.svg#AvenirNextCyrBold') format('svg');
}

$AvenirNext-DemiBold-font-path: $fonts-path + "/AvenirNextCyrDemi/";
@font-face {
    font-family: 'AvenirNextCyrDemi';
    src: url($AvenirNext-DemiBold-font-path + 'AvenirNextCyrDemi.eot');
    src: url($AvenirNext-DemiBold-font-path + 'AvenirNextCyrDemi.eot') format('embedded-opentype'),
         url($AvenirNext-DemiBold-font-path + 'AvenirNextCyrDemi.woff2') format('woff2'),
         url($AvenirNext-DemiBold-font-path + 'AvenirNextCyrDemi.woff') format('woff'),
         url($AvenirNext-DemiBold-font-path + 'AvenirNextCyrDemi.ttf') format('truetype'),
         url($AvenirNext-DemiBold-font-path + 'AvenirNextCyrDemi.svg#AvenirNextCyrDemi') format('svg');
}

$AvenirNext-Medium-font-path: $fonts-path + "/AvenirNextCyrMedium/";
@font-face {
    font-family: 'AvenirNextCyrMedium';
    src: url($AvenirNext-Medium-font-path + 'AvenirNextCyrMedium.eot');
    src: url($AvenirNext-Medium-font-path + 'AvenirNextCyrMedium.eot') format('embedded-opentype'),
         url($AvenirNext-Medium-font-path + 'AvenirNextCyrMedium.woff2') format('woff2'),
         url($AvenirNext-Medium-font-path + 'AvenirNextCyrMedium.woff') format('woff'),
         url($AvenirNext-Medium-font-path + 'AvenirNextCyrMedium.ttf') format('truetype'),
         url($AvenirNext-Medium-font-path + 'AvenirNextCyrMedium.svg#AvenirNextCyrMedium') format('svg');
}

$AvenirNext-Regular-font-path: $fonts-path + "/AvenirNextCyrRegular/";
@font-face {
    font-family: 'AvenirNextCyrRegular';
    src: url($AvenirNext-Regular-font-path + 'AvenirNextCyrRegular.eot');
    src: url($AvenirNext-Regular-font-path + '/AvenirNextCyrRegular.eot') format('embedded-opentype'),
         url($AvenirNext-Regular-font-path + '/AvenirNextCyrRegular.woff2') format('woff2'),
         url($AvenirNext-Regular-font-path + 'AvenirNextCyrRegular.woff') format('woff'),
         url($AvenirNext-Regular-font-path + 'AvenirNextCyrRegular.ttf') format('truetype'),
         url($AvenirNext-Regular-font-path + 'AvenirNextCyrRegular.svg#AvenirNextCyrRegular') format('svg');
}
