@import "utils/_global-utils";
@import "bootstrap/_global-bootstrap";
@import "base/_global-base";
@import "icons/_sprite-svg";
@import "plugins/_global-plugins";



html{
	width: 100%;
}

html {
	font-size: $font-size;
	font-family: $MyriadPro-Regular;
}

body {
	//@include rem-fallback(font-size, 18px);
	font-size: $font-size;
	z-index: 0;
	min-width: 320px;
}


@import "layout/_global-layout";
@import "pages/_global-pages";