

// =============================================================================
// ANIMATE
// =============================================================================

// Global var
$global-animate: true; // enable/disable animation
$keyframes-class: false; // add class .keyframes-name





// Animate keyframes name/var
$bounce: bounce;
$flash: flash;
$pulse: pulse;
$rubberBand: rubberBand;
$shake: shake;
$swing: swing;
$tada: tada;
$wobble: wobble;
$jello: jello;
$bounceIn: bounceIn;
$bounceInDown: bounceInDown;
$bounceInLeft: bounceInLeft;
$bounceInRight: bounceInRight;
$bounceInUp: bounceInUp;
$bounceOut: bounceOut;
$bounceOutDown: bounceOutDown;
$bounceOutLeft: bounceOutLeft;
$bounceOutRight: bounceOutRight;
$bounceOutUp: bounceOutUp;
$fadeIn: fadeIn;
$fadeInDown: fadeInDown;
$fadeInDownBig: fadeInDownBig;
$fadeInLeft: fadeInLeft;
$fadeInLeftBig: fadeInLeftBig;
$fadeInRight: fadeInRight;
$fadeInRightBig: fadeInRightBig;
$fadeInUp: fadeInUp;
$fadeInUpBig: fadeInUpBig;
$fadeOut: fadeOut;
$fadeOutDown: fadeOutDown;
$fadeOutDownBig: fadeOutDownBig;
$fadeOutLeft: fadeOutLeft;
$fadeOutLeftBig: fadeOutLeftBig;
$fadeOutRight: fadeOutRight;
$fadeOutRightBig: fadeOutRightBig;
$fadeOutUp: fadeOutUp;
$fadeOutUpBig: fadeOutUpBig;
$flip: flip;
$flipInX: flipInX;
$flipInY: flipInY;
$flipOutX: flipOutX;
$flipOutY: flipOutY;
$lightSpeedIn: lightSpeedIn;
$lightSpeedOut: lightSpeedOut;
$rotateIn: rotateIn;
$rotateInDownLeft: rotateInDownLeft;
$rotateInDownRight: rotateInDownRight;
$rotateInUpLeft: rotateInUpLeft;
$rotateInUpRight: rotateInUpRight;
$rotateOut: rotateOut;
$rotateOutDownLeft: rotateOutDownLeft;
$rotateOutDownRight: rotateOutDownRight;
$rotateOutUpLeft: rotateOutUpLeft;
$rotateOutUpRight: rotateOutUpRight;
$hinge: hinge;
$rollIn: rollIn;
$rollOut: rollOut;
$zoomIn: zoomIn;
$zoomInDown: zoomInDown;
$zoomInLeft: zoomInLeft;
$zoomInRight: zoomInRight;
$zoomInUp: zoomInUp;
$zoomOut: zoomOut;
$zoomOutDown: zoomOutDown;
$zoomOutLeft: zoomOutLeft;
$zoomOutRight: zoomOutRight;
$zoomOutUp: zoomOutUp;
$slideInDown: slideInDown;
$slideInLeft: slideInLeft;
$slideInRight: slideInRight;
$slideInUp: slideInUp;
$slideOutDown: slideOutDown;
$slideOutLeft: slideOutLeft;
$slideOutRight: slideOutRight;
$slideOutUp: slideOutUp;
$flash: flash;
$spin: spin;





// Animate keyframes map
$keyframes-map: (
    ($pulse)
);





// Mixin keyframes
@mixin keyframes ($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}



// Mixin get keyframes
@mixin getKeyframes($name) {

    // bounce
    @if $name == $bounce {
        @include keyframes (#{$bounce}) {
            from, 20%, 53%, 80%, to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

            40%, 43% {
                -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -30px, 0);
                transform: translate3d(0, -30px, 0);
            }

            70% {
                -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -15px, 0);
                transform: translate3d(0, -15px, 0);
            }

            90% {
                -webkit-transform: translate3d(0,-4px,0);
                transform: translate3d(0,-4px,0);
            }
        }

        @if $keyframes-class {
            .#{$bounce} {
                -webkit-animation-name: #{$bounce};
                animation-name: #{$bounce};
                -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
            }
        }
    }



    // flash
    @if $name == $flash {
        @include keyframes (#{$flash}) {
            from, 50%, to {
                opacity: 1;
            }

            25%, 75% {
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$flash} {
                -webkit-animation-name: #{$flash};
                animation-name: #{$flash};
            }
        }
    }



    // pulse
    @if $name == $pulse {
        @include keyframes (#{$pulse}) {
            from {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            50% {
                -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
            }

            to {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        .#{$pulse} {
            -webkit-animation-name: #{$pulse};
            animation-name: #{$pulse};
        }
    }



    // rubberBand
    @if $name == $rubberBand {
        @include keyframes (#{$rubberBand}) {
            from {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
            }

            40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
            }

            50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
            }

            65% {
                -webkit-transform: scale3d(.95, 1.05, 1);
                transform: scale3d(.95, 1.05, 1);
            }

            75% {
                -webkit-transform: scale3d(1.05, .95, 1);
                transform: scale3d(1.05, .95, 1);
            }

            to {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        @if $keyframes-class {
            .#{$rubberBand} {
                -webkit-animation-name: #{$rubberBand};
                animation-name: #{$rubberBand};
            }
        }
    }



    // shake
    @if $name == $shake {
        @include keyframes (#{$shake}) {
            from, to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            10%, 30%, 50%, 70%, 90% {
                -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
            }

            20%, 40%, 60%, 80% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$shake} {
                -webkit-animation-name: #{$shake};
                animation-name: #{$shake};
            }
        }
    }



    // swing
    @if $name == $swing {
        @include keyframes (#{$swing}) {
            20% {
                -webkit-transform: rotate3d(0, 0, 1, 15deg);
                transform: rotate3d(0, 0, 1, 15deg);
            }

            40% {
                -webkit-transform: rotate3d(0, 0, 1, -10deg);
                transform: rotate3d(0, 0, 1, -10deg);
            }

            60% {
                -webkit-transform: rotate3d(0, 0, 1, 5deg);
                transform: rotate3d(0, 0, 1, 5deg);
            }

            80% {
                -webkit-transform: rotate3d(0, 0, 1, -5deg);
                transform: rotate3d(0, 0, 1, -5deg);
            }

            to {
                -webkit-transform: rotate3d(0, 0, 1, 0deg);
                transform: rotate3d(0, 0, 1, 0deg);
            }
        }

        @if $keyframes-class {
            .#{$swing} {
                -webkit-transform-origin: top center;
                transform-origin: top center;
                -webkit-animation-name: #{$swing};
                animation-name: #{$swing};
            }
        }
    }



    // tada
    @if $name == $tada {
        @include keyframes (#{$tada}) {
            from {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            10%, 20% {
                -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            }

            30%, 50%, 70%, 90% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            }

            40%, 60%, 80% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
                transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            }

            to {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        @if $keyframes-class {
            .#{$tada} {
                -webkit-animation-name: #{$tada};
                animation-name: #{$tada};
            }
        }
    }



    // wobble
    @if $name == $wobble {
        @include keyframes (#{$wobble}) {
            from {
                -webkit-transform: none;
                transform: none;
            }

            15% {
                -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
                transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            }

            30% {
                -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
                transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            }

            45% {
                -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
                transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            }

            60% {
                -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
                transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            }

            75% {
                -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
                transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            }

            to {
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$wobble} {
                -webkit-animation-name: #{$wobble};
                animation-name: #{$wobble};
            }
        }
    }



    // jello
    @if $name == $jello {
        @include keyframes (#{$jello}) {
            from, 11.1%, to {
                -webkit-transform: none;
                transform: none;
            }

            22.2% {
                -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
                transform: skewX(-12.5deg) skewY(-12.5deg);
            }

            33.3% {
                -webkit-transform: skewX(6.25deg) skewY(6.25deg);
                transform: skewX(6.25deg) skewY(6.25deg);
            }

            44.4% {
                -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
                transform: skewX(-3.125deg) skewY(-3.125deg);
            }

            55.5% {
                -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
                transform: skewX(1.5625deg) skewY(1.5625deg);
            }

            66.6% {
                -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
                transform: skewX(-0.78125deg) skewY(-0.78125deg);
            }

            77.7% {
                -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
                transform: skewX(0.390625deg) skewY(0.390625deg);
            }

            88.8% {
                -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
                transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
            }
        }

        @if $keyframes-class {
            .#{$jello} {
                -webkit-animation-name: #{$jello};
                animation-name: #{$jello};
                -webkit-transform-origin: center;
                transform-origin: center;
            }
        }
    }



    // bounceIn
    @if $name == $bounceIn {
        @include keyframes (#{$bounceIn}) {
            from, 20%, 40%, 60%, 80%, to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);
            }

            20% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
            }

            40% {
                -webkit-transform: scale3d(.9, .9, .9);
                transform: scale3d(.9, .9, .9);
            }

            60% {
                opacity: 1;
                -webkit-transform: scale3d(1.03, 1.03, 1.03);
                transform: scale3d(1.03, 1.03, 1.03);
            }

            80% {
                -webkit-transform: scale3d(.97, .97, .97);
                transform: scale3d(.97, .97, .97);
            }

            to {
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        @if $keyframes-class {
            .#{$bounceIn} {
                -webkit-animation-name: #{$bounceIn};
                animation-name: #{$bounceIn};
            }
        }
    }


    // bounceInDown
    @if $name == $bounceInDown {
        @include keyframes (#{$bounceInDown}) {
            from, 60%, 75%, 90%, to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, -3000px, 0);
                transform: translate3d(0, -3000px, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(0, 25px, 0);
                transform: translate3d(0, 25px, 0);
            }

            75% {
                -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
            }

            90% {
                -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
            }

            to {
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$bounceInDown} {
                -webkit-animation-name: #{$bounceInDown};
                animation-name: #{$bounceInDown};
            }
        }
    }



    // bounceInLeft
    @if $name == $bounceInLeft {
        @include keyframes (#{$bounceInLeft}) {
            from, 60%, 75%, 90%, to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(-3000px, 0, 0);
                transform: translate3d(-3000px, 0, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);
            }

            75% {
                -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
            }

            90% {
                -webkit-transform: translate3d(5px, 0, 0);
                transform: translate3d(5px, 0, 0);
            }

            to {
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$bounceInLeft} {
                -webkit-animation-name: #{$bounceInLeft};
                animation-name: #{$bounceInLeft};
            }
        }
    }



    // bounceInRight
    @if $name == $bounceInRight {
        @include keyframes (#{$bounceInRight}) {
            from, 60%, 75%, 90%, to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            from {
                opacity: 0;
                -webkit-transform: translate3d(3000px, 0, 0);
                transform: translate3d(3000px, 0, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);
            }

            75% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }

            90% {
                -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
            }

            to {
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .bounceInRight {
                -webkit-animation-name: bounceInRight;
                animation-name: bounceInRight;
            }
        }
    }



    // bounceInUp
    @if $name == $bounceInUp {
        @include keyframes (#{$bounceInUp}) {
            from, 60%, 75%, 90%, to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            from {
                opacity: 0;
                -webkit-transform: translate3d(0, 3000px, 0);
                transform: translate3d(0, 3000px, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(0, -20px, 0);
                transform: translate3d(0, -20px, 0);
            }

            75% {
                -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
            }

            90% {
                -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
            }

            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$bounceInUp} {
                -webkit-animation-name: #{$bounceInUp};
                animation-name: #{$bounceInUp};
            }
        }
    }



    // bounceOut
    @if $name == $bounceOut {
        @include keyframes (#{$bounceOut}) {
            20% {
                -webkit-transform: scale3d(.9, .9, .9);
                transform: scale3d(.9, .9, .9);
            }

            50%, 55% {
                opacity: 1;
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
            }

            to {
                opacity: 0;
                -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);
            }
        }

        @if $keyframes-class {
            .#{$bounceOut} {
                -webkit-animation-name: #{$bounceOut};
                animation-name: #{$bounceOut};
            }
        }
    }



    // bounceOutDown
    @if $name == $bounceOutDown {
        @include keyframes (#{$bounceOutDown}) {
            20% {
                -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
            }

            40%, 45% {
                opacity: 1;
                -webkit-transform: translate3d(0, -20px, 0);
                transform: translate3d(0, -20px, 0);
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);
            }
        }

        @if $keyframes-class {
            .#{$bounceOutDown} {
                -webkit-animation-name: #{$bounceOutDown};
                animation-name: #{$bounceOutDown};
            }
        }
    }



    // bounceOutLeft
    @if $name == $bounceOutLeft {
        @include keyframes (#{$bounceOutLeft}) {
            20% {
                opacity: 1;
                -webkit-transform: translate3d(20px, 0, 0);
                transform: translate3d(20px, 0, 0);
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$bounceOutLeft} {
                -webkit-animation-name: #{$bounceOutLeft};
                animation-name: #{$bounceOutLeft};
            }
        }
    }



    // bounceOutRight
    @if $name == $bounceOutRight {
        @include keyframes (#{$bounceOutRight}) {
            20% {
                opacity: 1;
                -webkit-transform: translate3d(-20px, 0, 0);
                transform: translate3d(-20px, 0, 0);
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$bounceOutRight} {
                -webkit-animation-name: #{$bounceOutRight};
                animation-name: #{$bounceOutRight};
            }
        }
    }



    // bounceOutUp
    @if $name == $bounceOutUp {
        @include keyframes (#{$bounceOutUp}) {
            20% {
                -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
            }

            40%, 45% {
                opacity: 1;
                -webkit-transform: translate3d(0, 20px, 0);
                transform: translate3d(0, 20px, 0);
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);
            }
        }

        @if $keyframes-class {
            .#{$bounceOutUp} {
                -webkit-animation-name: #{$bounceOutUp};
                animation-name: #{$bounceOutUp};
            }
        }
    }



    // fadeIn
    @if $name == $fadeIn {
        @include keyframes($fadeIn) {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$fadeIn} {
                -webkit-animation-name: #{$fadeIn};
                animation-name: #{$fadeIn};
            }
        }
    }



    // fadeInDown
    @if $name == $fadeInDown {
        @include keyframes (#{$fadeInDown}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInDown} {
                -webkit-animation-name: #{$fadeInDown};
                animation-name: #{$fadeInDown};
            }
        }
    }



    // fadeInDownBig
    @if $name == $fadeInDownBig {
        @include keyframes (#{$fadeInDownBig}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInDownBig} {
                -webkit-animation-name: #{$fadeInDownBig};
                animation-name: #{$fadeInDownBig};
            }
        }
    }



    // fadeInLeft
    @if $name == $fadeInLeft {
        @include keyframes (#{$fadeInLeft}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInLeft} {
                -webkit-animation-name: #{$fadeInLeft};
                animation-name: #{$fadeInLeft};
            }
        }
    }



    // fadeInLeftBig
    @if $name == $fadeInLeftBig {
        @include keyframes (#{$fadeInLeftBig}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInLeftBig} {
                -webkit-animation-name: #{$fadeInLeftBig};
                animation-name: #{$fadeInLeftBig};
            }
        }
    }



    // fadeInRight
    @if $name == $fadeInRight {
        @include keyframes (#{$fadeInRight}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInRight} {
                -webkit-animation-name: #{$fadeInRight};
                animation-name: #{$fadeInRight};
            }
        }
    }

    // fadeInRightBig
    @if $name == $fadeInRightBig {
        @include keyframes (#{$fadeInRightBig}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInRightBig} {
                -webkit-animation-name: #{$fadeInRightBig};
                animation-name: #{$fadeInRightBig};
            }
        }
    }



    // fadeInUp
    @if $name == $fadeInUp {
        @include keyframes (#{$fadeInUp}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInUp} {
                -webkit-animation-name: #{$fadeInUp};
                animation-name: #{$fadeInUp};
            }
        }
    }



    // fadeInUpBig
    @if $name == $fadeInUpBig {
        @include keyframes (#{$fadeInUpBig}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$fadeInUpBig} {
                -webkit-animation-name: #{$fadeInUpBig};
                animation-name: #{$fadeInUpBig};
            }
        }
    }



    // fadeOut
    @if $name == $fadeOut {
        @include keyframes (#{$fadeOut}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$fadeOut} {
              -webkit-animation-name: #{$fadeOut};
              animation-name: #{$fadeOut};
          }
      }
  }



    // fadeOutDown
    @if $name == $fadeOutDown {
        @include keyframes (#{$fadeOutDown}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutDown} {
                -webkit-animation-name: #{$fadeOutDown};
                animation-name: #{$fadeOutDown};
            }
        }
    }



    // fadeOutDownBig
    @if $name == $fadeOutDownBig {
        @include keyframes (#{$fadeOutDownBig}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, 2000px, 0);
                transform: translate3d(0, 2000px, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutDownBig} {
                -webkit-animation-name: #{$fadeOutDownBig};
                animation-name: #{$fadeOutDownBig};
            }
        }
    }



    // fadeOutLeft
    @if $name == $fadeOutLeft {
        @include keyframes (#{$fadeOutLeft}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutLeft} {
                -webkit-animation-name: #{$fadeOutLeft};
                animation-name: #{$fadeOutLeft};
            }
        }
    }



    // fadeOutLeftBig
    @if $name == $fadeOutLeftBig {
        @include keyframes (#{$fadeOutLeftBig}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutLeftBig} {
                -webkit-animation-name: #{$fadeOutLeftBig};
                animation-name: #{$fadeOutLeftBig};
            }
        }
    }



    // fadeOutRight
    @if $name == $fadeOutRight {
        @include keyframes (#{$fadeOutRight}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutRight} {
                -webkit-animation-name: #{$fadeOutRight};
                animation-name: #{$fadeOutRight};
            }
        }
    }



    // fadeOutRightBig
    @if $name == $fadeOutRightBig {
        @include keyframes (#{$fadeOutRightBig}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(2000px, 0, 0);
                transform: translate3d(2000px, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutRightBig} {
                -webkit-animation-name: #{$fadeOutRightBig};
                animation-name: #{$fadeOutRightBig};
            }
        }
    }



    // fadeOutUp
    @if $name == $fadeOutUp {
        @include keyframes (#{$fadeOutUp}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutUp} {
                -webkit-animation-name: #{$fadeOutUp};
                animation-name: #{$fadeOutUp};
            }
        }
    }



    // fadeOutUpBig
    @if $name == $fadeOutUpBig {
        @include keyframes (#{$fadeOutUpBig}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0);
            }
        }

        @if $keyframes-class {
            .#{$fadeOutUpBig} {
                -webkit-animation-name: #{$fadeOutUpBig};
                animation-name: #{$fadeOutUpBig};
            }
        }
    }



    // flip
    @if $name == $flip {
        @include keyframes (#{$flip}) {
            from {
                -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            40% {
                -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
                transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            50% {
                -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
                transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            80% {
                -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
                transform: perspective(400px) scale3d(.95, .95, .95);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            to {
                -webkit-transform: perspective(400px);
                transform: perspective(400px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
        }

        @if $keyframes-class {
            .#{$flip} {
                -webkit-backface-visibility: visible;
                backface-visibility: visible;
                -webkit-animation-name: #{$flip};
                animation-name: #{$flip};
            }
        }
    }



    // flipInX
    @if $name == $flipInX {
        @include keyframes (#{$flipInX}) {
            from {
                -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
            }

            40% {
                -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            60% {
                -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                opacity: 1;
            }

            80% {
                -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            }

            to {
                -webkit-transform: perspective(400px);
                transform: perspective(400px);
            }
        }

        @if $keyframes-class {
            .#{$flipInX} {
                -webkit-backface-visibility: visible !important;
                backface-visibility: visible !important;
                -webkit-animation-name: #{$flipInX};
                animation-name: #{$flipInX};
            }
        }
    }



    // flipInY
    @if $name == $flipInY {
        @include keyframes (#{$flipInY}) {
            from {
                -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
            }

            40% {
                -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            60% {
                -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
                transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
                opacity: 1;
            }

            80% {
                -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            }

            to {
                -webkit-transform: perspective(400px);
                transform: perspective(400px);
            }
        }

        @if $keyframes-class {
            .#{$flipInY} {
                -webkit-backface-visibility: visible !important;
                backface-visibility: visible !important;
                -webkit-animation-name: #{$flipInY};
                animation-name: #{$flipInY};
            }
        }
    }



    // flipOutX
    @if $name == $flipOutX {
        @include keyframes (#{$flipOutX}) {
            from {
                -webkit-transform: perspective(400px);
                transform: perspective(400px);
            }

            30% {
                -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                opacity: 1;
            }

            to {
                -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$flipOutX} {
                -webkit-animation-name: #{$flipOutX};
                animation-name: #{$flipOutX};
                -webkit-backface-visibility: visible !important;
                backface-visibility: visible !important;
            }
        }
    }



    // flipOutY
    @if $name == $flipOutY {
        @include keyframes (#{$flipOutY}) {
            from {
                -webkit-transform: perspective(400px);
                transform: perspective(400px);
            }

            30% {
                -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
                transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
                opacity: 1;
            }

            to {
                -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$flipOutY} {
                -webkit-backface-visibility: visible !important;
                backface-visibility: visible !important;
                -webkit-animation-name: #{$flipOutY};
                animation-name: #{$flipOutY};
            }
        }
    }



    // lightSpeedIn
    @if $name == $lightSpeedIn {
        @include keyframes (#{$lightSpeedIn}) {
            from {
                -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
                transform: translate3d(100%, 0, 0) skewX(-30deg);
                opacity: 0;
            }

            60% {
                -webkit-transform: skewX(20deg);
                transform: skewX(20deg);
                opacity: 1;
            }

            80% {
                -webkit-transform: skewX(-5deg);
                transform: skewX(-5deg);
                opacity: 1;
            }

            to {
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$lightSpeedIn} {
                -webkit-animation-name: #{$lightSpeedIn};
                animation-name: #{$lightSpeedIn};
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
    }



    // lightSpeedOut
    @if $name == $lightSpeedOut {
        @include keyframes (#{$lightSpeedOut}) {
            from {
                opacity: 1;
            }

            to {
                -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
                transform: translate3d(100%, 0, 0) skewX(30deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$lightSpeedOut} {
                -webkit-animation-name: #{$lightSpeedOut};
                animation-name: #{$lightSpeedOut};
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
        }
    }



    // rotateIn
    @if $name == $rotateIn {
        @include keyframes (#{$rotateIn}) {
            from {
                -webkit-transform-origin: center;
                transform-origin: center;
                -webkit-transform: rotate3d(0, 0, 1, -200deg);
                transform: rotate3d(0, 0, 1, -200deg);
                opacity: 0;
            }

            to {
                -webkit-transform-origin: center;
                transform-origin: center;
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$rotateIn} {
                -webkit-animation-name: #{$rotateIn};
                animation-name: #{$rotateIn};
            }
        }
    }



    // rotateInDownLeft
    @if $name == $rotateInDownLeft {
        @include keyframes (#{$rotateInDownLeft}) {
            from {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg);
                opacity: 0;
            }

            to {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$rotateInDownLeft} {
                -webkit-animation-name: #{$rotateInDownLeft};
                animation-name: #{$rotateInDownLeft};
            }
        }
    }



    // rotateInDownRight
    @if $name == $rotateInDownRight {
        @include keyframes (#{$rotateInDownRight}) {
            from {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg);
                opacity: 0;
            }

            to {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$rotateInDownRight} {
                -webkit-animation-name: #{$rotateInDownRight};
                animation-name: #{$rotateInDownRight};
            }
        }
    }



    // rotateInUpLeft
    @if $name == $rotateInUpLeft {
        @include keyframes (#{$rotateInUpLeft}) {
            from {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg);
                opacity: 0;
            }

            to {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$rotateInUpLeft} {
                -webkit-animation-name: #{$rotateInUpLeft};
                animation-name: #{$rotateInUpLeft};
            }
        }
    }



    // rotateInUpRight
    @if $name == $rotateInUpRight {
        @include keyframes (#{$rotateInUpRight}) {
            from {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                -webkit-transform: rotate3d(0, 0, 1, -90deg);
                transform: rotate3d(0, 0, 1, -90deg);
                opacity: 0;
            }

            to {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$rotateInUpRight} {
                -webkit-animation-name: #{$rotateInUpRight};
                animation-name: #{$rotateInUpRight};
            }
        }
    }



    // rotateOut
    @if $name == $rotateOut {
        @include keyframes (#{$rotateOut}) {
            from {
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
            }

            to {
                -webkit-transform-origin: center;
                transform-origin: center;
                -webkit-transform: rotate3d(0, 0, 1, 200deg);
                transform: rotate3d(0, 0, 1, 200deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$rotateOut} {
                -webkit-animation-name: #{$rotateOut};
                animation-name: #{$rotateOut};
            }
        }
    }



    // rotateOutDownLeft
    @if $name == $rotateOutDownLeft {
        @include keyframes (#{$rotateOutDownLeft}) {
            from {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                opacity: 1;
            }

            to {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$rotateOutDownLeft} {
                -webkit-animation-name: #{$rotateOutDownLeft};
                animation-name: #{$rotateOutDownLeft};
            }
        }
    }



    // rotateOutDownRight
    @if $name == $rotateOutDownRight {
        @include keyframes (#{$rotateOutDownRight}) {
            from {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                opacity: 1;
            }

            to {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$rotateOutDownRight} {
                -webkit-animation-name: #{$rotateOutDownRight};
                animation-name: #{$rotateOutDownRight};
            }
        }
    }



    // rotateOutUpLeft
    @if $name == $rotateOutUpLeft {
        @include keyframes (#{$rotateOutUpLeft}) {
            from {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                opacity: 1;
            }

            to {
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
                -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$rotateOutUpLeft} {
                -webkit-animation-name: #{$rotateOutUpLeft};
                animation-name: #{$rotateOutUpLeft};
            }
        }
    }



    // rotateOutUpRight
    @if $name == $rotateOutUpRight {
        @include keyframes (#{$rotateOutUpRight}) {
            from {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                opacity: 1;
            }

            to {
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                -webkit-transform: rotate3d(0, 0, 1, 90deg);
                transform: rotate3d(0, 0, 1, 90deg);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$rotateOutUpRight} {
                -webkit-animation-name: #{$rotateOutUpRight};
                animation-name: #{$rotateOutUpRight};
            }
        }
    }



    // hinge
    @if $name == $hinge {
        @include keyframes (#{$hinge}) {
            0% {
                -webkit-transform-origin: top left;
                transform-origin: top left;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
            }

            20%, 60% {
                -webkit-transform: rotate3d(0, 0, 1, 80deg);
                transform: rotate3d(0, 0, 1, 80deg);
                -webkit-transform-origin: top left;
                transform-origin: top left;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
            }

            40%, 80% {
                -webkit-transform: rotate3d(0, 0, 1, 60deg);
                transform: rotate3d(0, 0, 1, 60deg);
                -webkit-transform-origin: top left;
                transform-origin: top left;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                opacity: 1;
            }

            to {
                -webkit-transform: translate3d(0, 700px, 0);
                transform: translate3d(0, 700px, 0);
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$hinge} {
                -webkit-animation-name: #{$hinge};
                animation-name: #{$hinge};
            }
        }
    }



    // rollIn
    @if $name == $rollIn {
        @include keyframes (#{$rollIn}) {
            from {
                opacity: 0;
                -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
                transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @if $keyframes-class {
            .#{$rollIn} {
                -webkit-animation-name: #{$rollIn};
                animation-name: #{$rollIn};
            }
        }
    }



    // rollOut
    @if $name == $rollOut {
        @include keyframes (#{$rollOut}) {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
                transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
            }
        }

        @if $keyframes-class {
            .#{$rollOut} {
                -webkit-animation-name: #{$rollOut};
                animation-name: #{$rollOut};
            }
        }
    }



    // zoomIn
    @if $name == $zoomIn {
        @include keyframes (#{$zoomIn}) {
            from {
                opacity: 0;
                -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);
            }

            50% {
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$zoomIn} {
                -webkit-animation-name: #{$zoomIn};
                animation-name: #{$zoomIn};
            }
        }
    }



    // zoomInDown
    @if $name == $zoomInDown {
        @include keyframes (#{$zoomInDown}) {
            from {
                opacity: 0;
                -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
                -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            }

            60% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
                -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            }
        }

        @if $keyframes-class {
            .#{$zoomInDown} {
                -webkit-animation-name: #{$zoomInDown};
                animation-name: #{$zoomInDown};
            }
        }
    }



    // zoomInLeft
    @if $name == $zoomInLeft {
        @include keyframes (#{$zoomInLeft}) {
            from {
                opacity: 0;
                -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
                transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
                -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            }

            60% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
                -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            }
        }

        @if $keyframes-class {
            .#{$zoomInLeft} {
                -webkit-animation-name: #{$zoomInLeft};
                animation-name: #{$zoomInLeft};
            }
        }
    }



    // zoomInRight
    @if $name == $zoomInRight {
        @include keyframes (#{$zoomInRight}) {
            from {
                opacity: 0;
                -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
                transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
                -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            }

            60% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
                -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            }
        }

        @if $keyframes-class {
            .#{$zoomInRight} {
                -webkit-animation-name: #{$zoomInRight};
                animation-name: #{$zoomInRight};
            }
        }
    }



    // zoomInUp
    @if $name == $zoomInUp {
        @include keyframes (#{$zoomInUp}) {
            from {
                opacity: 0;
                -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
                -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            }

            60% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            }
        }

        @if $keyframes-class {
            .#{$zoomInUp} {
                -webkit-animation-name: #{$zoomInUp};
                animation-name: #{$zoomInUp};
            }
        }
    }



    // zoomOut
    @if $name == $zoomOut {
        @include keyframes (#{$zoomOut}) {
            from {
                opacity: 1;
            }

            50% {
                opacity: 0;
                -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);
            }

            to {
                opacity: 0;
            }
        }

        @if $keyframes-class {
            .#{$zoomOut} {
                -webkit-animation-name: #{$zoomOut};
                animation-name: #{$zoomOut};
            }
        }
    }



    // zoomOutDown
    @if $name == $zoomOutDown {
        @include keyframes (#{$zoomOutDown}) {
            40% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            }

            to {
                opacity: 0;
                -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
                -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
                -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            }
        }

        @if $keyframes-class {
            .#{$zoomOutDown} {
                -webkit-animation-name: #{$zoomOutDown};
                animation-name: #{$zoomOutDown};
            }
        }
    }



    // zoomOutLeft
    @if $name == $zoomOutLeft {
        @include keyframes (#{$zoomOutLeft}) {
            40% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
            }

            to {
                opacity: 0;
                -webkit-transform: scale(.1) translate3d(-2000px, 0, 0);
                transform: scale(.1) translate3d(-2000px, 0, 0);
                -webkit-transform-origin: left center;
                transform-origin: left center;
            }
        }

        @if $keyframes-class {
            .#{$zoomOutLeft} {
                -webkit-animation-name: #{$zoomOutLeft};
                animation-name: #{$zoomOutLeft};
            }
        }
    }



    // zoomOutRight
    @if $name == $zoomOutRight {
        @include keyframes (#{$zoomOutRight}) {
            40% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
                transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
            }

            to {
                opacity: 0;
                -webkit-transform: scale(.1) translate3d(2000px, 0, 0);
                transform: scale(.1) translate3d(2000px, 0, 0);
                -webkit-transform-origin: right center;
                transform-origin: right center;
            }
        }

        @if $keyframes-class {
            .#{$zoomOutRight} {
                -webkit-animation-name: #{$zoomOutRight};
                animation-name: #{$zoomOutRight};
            }
        }
    }



    // zoomOutUp
    @if $name == $zoomOutUp {
        @include keyframes (#{$zoomOutUp}) {
            40% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
                -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
            }

            to {
                opacity: 0;
                -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
                -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
                -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
            }
        }

        @if $keyframes-class {
            .#{$zoomOutUp} {
                -webkit-animation-name: #{$zoomOutUp};
                animation-name: #{$zoomOutUp};
            }
        }
    }



    // slideInDown
    @if $name == $slideInDown {
        @include keyframes (#{$slideInDown}) {
            from {
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
                visibility: visible;
            }

            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideInDown} {
                -webkit-animation-name: #{$slideInDown};
                animation-name: #{$slideInDown};
            }
        }
    }



    // slideInLeft
    @if $name == $slideInLeft {
        @include keyframes (#{$slideInLeft}) {
            from {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }

            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideInLeft} {
                -webkit-animation-name: #{$slideInLeft};
                animation-name: #{$slideInLeft};
            }
        }
    }



    // slideInRight
    @if $name == $slideInRight {
        @include keyframes (#{$slideInRight}) {
            from {
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                visibility: visible;
            }

            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideInRight} {
                -webkit-animation-name: #{$slideInRight};
                animation-name: #{$slideInRight};
            }
        }
    }



    // slideInUp
    @if $name == $slideInUp {
        @include keyframes (#{$slideInUp}) {
            from {
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
                visibility: visible;
            }

            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideInUp} {
                -webkit-animation-name: #{$slideInUp};
                animation-name: #{$slideInUp};
            }
        }
    }



    // slideOutDown
    @if $name == $slideOutDown {
        @include keyframes (#{$slideOutDown}) {
            from {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            to {
                visibility: hidden;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideOutDown} {
                -webkit-animation-name: #{$slideOutDown};
                animation-name: #{$slideOutDown};
            }
        }
    }



    // slideOutLeft
    @if $name == $slideOutLeft {
        @include keyframes (#{$slideOutLeft}) {
            from {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            to {
                visibility: hidden;
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideOutLeft} {
                -webkit-animation-name: #{$slideOutLeft};
                animation-name: #{$slideOutLeft};
            }
        }
    }



    // slideOutRight
    @if $name == $slideOutRight {
        @include keyframes (#{$slideOutRight}) {
            from {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            to {
                visibility: hidden;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideOutRight} {
                -webkit-animation-name: #{$slideOutRight};
                animation-name: #{$slideOutRight};
            }
        }
    }



    // slideOutUp
    @if $name == $slideOutUp {
        @include keyframes (#{$slideOutUp}) {
            from {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            to {
                visibility: hidden;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }
        }

        @if $keyframes-class {
            .#{$slideOutUp} {
                -webkit-animation-name: #{$slideOutUp};
                animation-name: #{$slideOutUp};
            }
        }
    }



    // flash
    @if $name == $flash {
        @include keyframes (#{$flash}) {
            0% {
                opacity: .4;
            }
            100% {
                opacity: 1;
            }
        }

        @if $keyframes-class {
            .#{$flash} {
                -webkit-animation-name: #{$flash};
                animation-name: #{$flash};
            }
        }
    }



    // spin
    @if $name == $spin {
        @keyframes #{$spin} {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @if $keyframes-class {
            .#{$spin} {
                -webkit-animation-name: #{$spin};
                animation-name: #{$spin};
            }
        }
    }
}



// Each active keyframes
@if $global-animate {
    @each $name in $keyframes-map {
        @if $name {
            @include getKeyframes($name);
        }
    }
}

// end ANIMATE