// =============================================================================
// HELPERS
// =============================================================================

.sr-only {
	@include visually-hidden();
}

img[data-object-fit="contain"] {
	object-fit: contain;
}

img[data-object-fit="cover"] {
	object-fit: cover;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.txt-left {
	text-align: left;
}

// end HELPERS