@import "../utils/_global-utils";

// =============================================================================
// GRADUATES
// =============================================================================

.graduates-list {
	list-style: none;
	padding: 0;
	margin: 0 0 40px;

	&__item {
		float: left;
		width: 49.5%;
		margin: 0 0 3px .5%;

		@media (min-width: $screen-md) {
			width: 33%;
			margin-left: .3%;
		}
	}

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}

// end GRADUATES