@import "../utils/_global-utils";



// =============================================================================
// MAIN
// =============================================================================
.main{
	position: relative;
	z-index: 0;

	.slider-cont {
		position: relative;

		@media(max-width: $screen-xs) {
			padding-bottom: 220px;
			background-color: $color-brown;
		}

		.slider {
			z-index: 1;
		
			&__img-cont {
				height: 662px;
				outline: none;
				position: relative;

				&:after {
					content: " ";
					position: absolute;
					z-index: 2;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba(0, 0, 0, 0.2);
					pointer-events: none;
					transition: all .2s;
				}

				&:hover:after {
					opacity: 0;
				}

				@media(max-width: $screen-xs) {
					height: 300px;
				}
			}
		
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}

			.slick-dots {
				position: absolute;
				bottom: 8%;
				left: 50%;
				transform: translateX(-50%);
				.slick-active {
					button {
						background-color: $color-brown;
					}
				}
				li {
					display: inline-block;
					margin-right: 3px; 
					button {
						font-size: 0;
						outline: none;
						width: 14px;
						height: 14px;
						background-color: white;
						border-radius: 50%;
						border: none;
						cursor: pointer;	
					}
					
				}
			}

			.icon-arrow-left, .icon-arrow-right {
				z-index: 5;
				width: 11px;
				cursor: pointer;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				fill: white;
				&:hover {
					fill: darken($color-white, 10);
				}
			}			

			.icon-arrow-left {
				left: 20%;
			}

			.icon-arrow-right {
				right: 20%;
			}
		}

		&__note-btn-box {
			display: flex;
			justify-content: center;
			position: absolute;
			bottom: 18%;
			z-index: 5;
			left: 0;
		    right: 0;
		    .btn {
		    	margin-right: 19px; 
		    }
		    @media(max-width: 1050px) {
		    	flex-direction: column;
		    	left: 50%;
		    	width: 315px;
		    	transform: translateX(-50%);
		    	bottom: 12%;
		    	.btn {
		    		margin-bottom: 10px;
		    		margin-right: 10px;
		    		margin-left: 10px;
		    	}	
		    }
		    @media(max-width: $screen-xs) {
				bottom: 2%;
			}
		}	
	}
}

// end MAIN
