@import "../utils/_global-utils";

// =============================================================================
// NEWS
// =============================================================================

.news-list {
	display: flex;
	flex-direction: column;
	margin: 0 0 40px;
	font-size: 16px;
	line-height: 1.2;

	@media (min-width: $screen-md) {
		margin-left: -20px;
		flex-wrap: wrap;
		flex-direction: row;
	}

	@media (min-width: $screen-lg) {
		margin-left: -30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		margin: 0 0 20px;

		@media (min-width: 650px) {
			flex-direction: row;
		}

		@media (min-width: 650px) and (max-width: $screen-sm-max) {

			&:nth-child(even) {
				.news-list__content {
					order: -1;
				}
			}
		}

		@media (min-width: $screen-md) {
			flex: 0 0 calc(50% - 20px);
			margin-left: 20px;

			&:nth-child(4n),
			&:nth-child(4n - 1) {
				.news-list__content {
					order: -1;
				}
			}
		}

		@media (min-width: $screen-lg) {
			flex: 0 0 calc(50% - 30px);
			margin-left: 30px;
		}
	}

	&__photo {
		position: relative;
		height: 250px;

		@media (min-width: 650px) {
			flex: 1 1 45%;
			height: auto;
		}

		@media (min-width: $screen-lg) {
			flex: 1 1 50%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: relative;
		padding: 20px 15px 65px;
		background: lighten($color-light-brown, 7);
		color: #fff;

		@media (min-width: 650px) {
			flex: 1 1 55%;
		}

		@media (min-width: $screen-lg) {
			flex: 1 1 50%;
		}
	}

	&__date {
		margin: 10px 0 25px;
		font-size: .9em;
		line-height: 1;
		color: darken($color-dark-brown, 15);
		color: $color-sand;
		font-family: $MyriadPro-Bold;
	}

	&__title {
		font-family: $AvenirNext-Medium;
		font-size: 22px;
		line-height: 1.1;
		text-transform: uppercase;
	}

	&__p {
		margin: 0 0 1em;
	}

	&__more {
		position: absolute;
		bottom: 25px;
		left: 15px;
	}
}

// end NEWS