@import "../utils/_global-utils";

// =============================================================================
// PORTFOLIO
// =============================================================================

.portfolio-title {
	margin-top: 20px;
	margin-bottom: .5rem;
	font-family: $MyriadPro-Regular;
	font-size: 1.2rem;
	line-height: 1;
	text-transform: uppercase;
	color: $color-light-brown;

	@media (min-width: $screen-xs) {
		font-size: 1.7rem;
		margin-top: 30px;
	}

	@media (min-width: $screen-sm) {
		font-size: 2rem;
		margin-top: 40px;
	}
}

.portfolio-list {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	padding: 0 20px 25px 30px;

	@media (min-width: $screen-xs) {
		margin-bottom: 40px;
		padding-left: 50px;
		padding-right: 40px;
	}

	@media (min-width: $screen-sm) {
		margin-bottom: 60px;
	}

	&__item {
		width: 200px;
		float: left;
		padding: 0 10px 0 0;
	}

	&__img {
		width: 100%;
		height: auto;
	}

	.slick-dots {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 3px;
		}

		button {
			outline: 0;
			width: 14px;
			height: 14px;
			background-color: #fff;
			border-radius: 50%;
			border: none;
			cursor: pointer;
			text-indent: -9999px;
		}

		.slick-active button {
			background: $color-brown;
		}
	}

	.slick-arrow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 25px;
		width: 30px;
		border: 0;
		background: none;
		text-indent: -9999px;
		cursor: pointer;

		@media (min-width: $screen-xs) {
			width: 50px;
		}

		&:hover {
			background: rgba($color-brown, .1);
		}

		&:focus {
			outline: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			border: 2px solid $color-brown;
			border-width: 2px 2px 0 0;
			width: 20px;
			height: 20px;
			transform: rotate(-135deg);
		}
	}

	.slick-next {
		left: auto;
		right: 0;

		&:before {
			transform: rotate(45deg);
		}
	}
}

// end PORTFOLIO